body {
  font-family: "PT Serif", serif;
  font-size: 21px;
  line-height: 33px;
  margin: 0;
  color: #444;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5), 3px 3px 100px rgba(0, 0, 0, 0.5);
  line-height: 1.2;
}

.header {
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
}

.header-filter {
  background: rgba(0, 0, 0, 0.4);
  padding: 200px 0;
}

.container {
  max-width: 700px;
  width: auto;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.container a {
  margin: 0 auto;
}

main .container img {
  max-width: 382px;
  width: 80%;
}

img {
  align-self: center;
}

p {
  margin-top: 40px;
}

a {
  color: #444;
}

.footer {
  background: #eee;
  padding: 20px 0;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}

.footer a:hover {
  background: #ccc;
}
